.git
.github
.devcontainer
.vscode

node_modules
coverage
dist
out
logs
*.log
*.tgz
*.tsbuildinfo
.cache

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pglite

Dockerfile
compose.yml
